/* Site crée sur un ordi avec un résolution de 1920px x 1080px */

/* Polices d'écritures */

@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');

/* propriétées générales */
*{
    font-family: "Archivo Narrow";
}

body{
    background: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm346-adj-background-10_2.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=330e80a10a6e465d8c485ecd92b92326);
}

a{
    color: #38220F;
}

strong{
    font-weight: bold;
}

/* HEADER */

header{
    /* fond */
    background: linear-gradient(#844B38, #DBC1AC);

    /* Mise en page du header */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header h1{
    /* placement */
    width: 50%; 
    margin-left: 100px;

    /* style */
    font-size: 40px;
}


/* MENU DEROULANT réalisé a partir de cette vidéo : https://www.youtube.com/watch?v=V-pya5sdviw*/
nav{
    width: 100%;
    margin: 0 auto;
    position: sticky;
    top: 0px;
    right: 100px;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    float: right;
    width: 25%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: #634832;
    border-bottom: 2px solid #634832;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #634832;
    background-color: #DBC1AC;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(204, 172, 140,0.3);
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}
/* .......................... */

/* DISPLAY */

#conteneur{
    /* Mise en page */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* FILM (conteneur) */
.film{

    /* Mise en page  */
    width: 45%;
    height: auto;
    margin: 2%;

    /* Style */
    background-color: RGBa(204, 172, 140, 0.5);
    border-radius: 30px;
    border-top: 1px solid rgb(177, 177, 177);
    border-left: 1px solid rgb(177, 177, 177);
}

/* Titres dans films */
/* Titre du film */
h1{
    /* style */
    font-size: 28px;
    /* mise en page */
    display: inline;
}

/* réalisateur/année */
h2{
    /* style */
    color: #634832;
    font-size: 20px;
    /* mise en page */
    display: inline;
}

.title{
    /* mise en page */
    text-align: center;
    margin: 5px;
    padding: 5px;
}

/* Affiches */

.affiche{
    /* mise en page */
    float: left;
    margin-bottom: 15px;
    width: 250px;
    margin-left: 30px;
    margin-right: 30px;
}

/* Affiche lorque le curseur survole */
.affiche:hover{
    /* mise en page */
    width: 540px;
    margin-left: 10px;
    z-index: 1000;
    float: none;
}


/* INFOS */

.info{
    /* mise en page */
    margin: 5px;
    padding: 5px;
    margin-right: 30px;
    text-align: center;
    /* style */
    font-size: 16px;
}

/* resumé / Avis */
p{
    /* mise en page */
    text-align: justify;
}

/* acteurs(distribution) */
ul{
    /* style */
    list-style-type: none;
    /* mise en page */
    text-align: left;
}

/* Résumé(titre) / Avis(titre) / Distribution(titre) */
h3{
    /* style */
    font-size: 18px;
}

/* coeurs */
.heart{
    /* mise en page */
    text-align: center;
}


/* Aside */
aside{
    /* style */
    background-color: #967259;
    /* mise en page */
    word-wrap: break-word;
    width: auto;
    margin: 20px;
    padding: 10px;
}

/* Footer */

footer{
    /* style */
    background-color: #DBC1AC;
    /* mise en page */
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


     

